<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default"/>
		<meta name="format-detection" content="telephone=no"/>
		<meta name="format-detection" content="email=no"/>
		<meta name="wap-font-scale" content="no"/>
		<title>选择门店</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>
	<body>
		<section class="select-store">
			<ul>
				<li><a href="javascript:;">永辉超市泰禾店</a></li>
				<li><a href="javascript:;">永辉超市爱琴海店</a></li>
				<li><a href="javascript:;">永辉超市奥体店</a></li>
				<li><a href="javascript:;">永辉超市万达店</a></li>
				<li><a href="javascript:;">永辉超市杨桥店</a></li>
			</ul>
		</section>
		<script src="../script/jquery.min.js"></script>
		<script src="../script/select-store.js"></script>
	</body>
</html>
